<div class="content">
    <div class="container-fluid" >
        <div class="row">
         <div class="col-12" style="margin: 0px; padding: 0px;">
           <div class="img">
             <h3 class="txt-bienvenida">Contraseña</h3>
             <img src="assets/img/comida-login.jpg" class="img-login" alt="">
           </div>
          </div>
        </div>
  
        <div class="content-login">
          <div class="row">
            <div class="col-12">
             <div class="form-group">
               <p>Bienvenido</p>
               <input class="form-control" type="text" placeholder="Correo" [(ngModel)]="email" required>
             </div>
           </div>
        </div>
        <button class="btn btn-success" (click)="resetPassword()">Enviar</button><br>
        <small><a routerLink="/login">Inicio</a></small> | <small><a routerLink="/register">Registro</a></small>
      </div>
        
    </div>
  </div>
  