<nav id="sidePadding" class="navbar " style="background: black;">
  <span  class="icons" routerLink="/profile" routerLinkActive="selected" >
    <i class="fas fa-user"></i>Mi Perfil</span>

  <span class="icons" routerLink="/home" routerLinkActive="selected">
    <i class="fas fa-home">home</i></span>

  <span  class="icons" routerLink="/historial" routerLinkActive="selected">
    <i class="fas fa-history">Mis Pedidos</i></span>

  <span  class="icons" routerLink="/about" routerLinkActive="selected">
    <i class="fas fa-users">About</i></span>

</nav>