.col{
    margin: 0px;
    padding: 0px;
}

.img{
    width: 100%;
    height: 20vh;
    overflow: hidden;
    margin: 0px;
    position: relative;
}

.img-home{
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

.img2{
    width: 100%;
    height: 15vh;
    overflow: hidden;
    margin: 0px;
    position: relative;
}
.card{
    box-shadow: 1px 1px 10px #88888885;
}
.marTop20{
    margin-top: 20px;
}